.auth-container{
    min-height:100vh;
    background:#F6F1EB;

    display:flex;
    justify-content:center;
    align-items:center;
}

.auth-card{

    width:520px;

    background:white;

    border-radius:18px;

    padding:45px;

    box-shadow:0 12px 35px rgba(0,0,0,.12);

}

.auth-logo{

    text-align:center;

    color:#1E2A44;

    margin-bottom:15px;

}

.auth-logo span{

    color:#D97A9A;

}

.auth-card h2{

    text-align:center;

    color:#1E2A44;

}

.auth-card p{

    text-align:center;

    margin-bottom:30px;

    color:#666;

}

.primary-btn{

    width:100%;

    margin-top:20px;

    padding:15px;

    background:#1E2A44;

    color:white;

    border:none;

    border-radius:10px;

    font-size:16px;

    cursor:pointer;

}

.primary-btn:hover{

    background:#162033;

}

.two-column{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:20px;

}