.form-group{

    display:flex;

    flex-direction:column;

    margin-bottom:20px;

}

.form-group label{

    margin-bottom:8px;

    color:#1E2A44;

    font-weight:600;

}

.form-group input{

    padding:12px;

    border:1px solid #d9d9d9;

    border-radius:8px;

    font-size:15px;

}

.form-group input:focus{

    outline:none;

    border-color:#D97A9A;

}